---
apiVersion: v1
data:
  ca.crt: {{ registrydistrib_ca_data['content'] }}
kind: Secret
metadata:
  name: registry-cert-{{ registrydistrib_name }}
  namespace: {{ registry_namespace }}
  labels:
    app: registrydistrib-app
type: Opaque
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  namespace: {{ registry_namespace }}
  name: registrydistrib-ds
  labels:
    app: registrydistrib-app
spec:
  selector:
    matchLabels:
      app: registrydistrib-app
  template:
    metadata:
      labels:
        app: registrydistrib-app
    spec:
      tolerations:
{% if registry_tolerate_master %}
        - key: node-role.kubernetes.io/master
          operator: Exists
          effect: NoSchedule
{% endif %}
      volumes:
        - name: docker-certs
          hostPath:
            path: /etc/docker/certs.d
        - name: registry-cert
          secret:
            secretName: registry-cert-{{ registrydistrib_name }}
      initContainers:
        - name: registry-cert-{{ registrydistrib_name }}
          image: busybox
          command: [ 'sh' ]
          args: [ '-c', 'mkdir /certs/{{ registrydistrib_target }};cp /var/secrets/registry-cert/ca.crt /certs/{{ registrydistrib_target }}/ca.crt' ]
          volumeMounts:
            - name: docker-certs
              mountPath: /certs
            - name: registry-cert
              mountPath: /var/secrets/registry-cert
              readOnly: true
      containers:
        - name: pause
          image: gcr.io/google_containers/pause
